*{
    box-sizing: border-box;
}
body{
    margin:0.2em;
    padding: 0.2em;
}

ul{
    display:flex;
}
.carousel-item {
    height: 550px;
  }

  .p-2 {
    margin : 0.3em;
    padding: .7rem!important;
    font-size: 23px;
}
#about-sec
{
    font-size: 23px;
    margin:1em;
}
#head-sec
{
    margin-bottom:2em;
}
#project-sec
{
    font-size: 23px;
    margin:1em;
}
#flex-galllery
{
    display:flex;
    flex-wrap: wrap;
}
#contact-sec
{
    font-size: 23px;
    margin:1em;
}
.form-group
{
    margin:1em;
}
.btn
{
    margin:1em;
    background-color: black;
    color: white;
}

.bd-highlight
{
background-color: black;
color: white;
/* position: fixed; */
}

.carousel-caption div
{
    position: absolute;
    bottom: 13.25rem;
    left:40%;
}
h1{
    text-decoration: underline;
    
}